:root {
    /* colors */
    --blue: #02458d;
    --orange: #eb9021;
    --dark-orange: #C26B1B;
    --footer: #353535;
    --tab: #0b2e53;

    /* font-size */
    --font-normal: 18px;
    --font-subtitle: 24px;
    --font-title: 36px;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

*:after, *:before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: normal;
    background-color: var(--blue);
    color: #ffffff
}

body, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

img {
    width: auto;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    border-bottom: none;
    color: #ffffff;
}

button {
    border: none;
    cursor: pointer;
    color: #ffffff;
}

.page {
    width: 100%;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    margin: 0 20px;
}

.logo {
    text-transform: uppercase;
    font-size: 16px;
    text-indent: 0;
    text-align: center;
    margin-bottom: 10px;
}

.logo__img {
    width: 280px;
}

.header__top {
    background-image: linear-gradient(to bottom, #40a0da 7%, #2977cb 95%);
    padding-top: 16px;
}

.header__bottom {
    background: var(--blue);
    border-bottom: none;
}

.nav {
    flex-direction: row-reverse;
}

.contact {
    display: none;
}

.contact__block {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.contact__block:last-child {
    margin-right: 0;
}

.contact__icon {
    width: 28px;
    height: 28px;
    margin-right: 8px;
}

.contact__block-inner {
    display: flex;
    flex-direction: column;
}

.contact--mobile:first-child {
    margin-bottom: 5px;
}

.hover:hover {
    color: var(--orange);
    fill: var(--orange);
    stroke: var(--orange);
    transition: color .5s;
}

.mobile-menu {
    right: 17px;
    top: 10px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    z-index: 38;
}

.mobile-menu__btn {
    background: none;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    right: 20px;
    top: auto;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 30px;
    z-index: 18;
}

.line {
    background: #fff;
    display: block;
    height: 3px;
    left: 0;
    margin: 7px 0;
    opacity: 1;
    position: relative;
    right: 0;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.mobile-menu__btn.open {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}


.open > .line:first-child {
    width: 30px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 10px;
    right: 20px;
}

.open > .line:nth-child(2) {
    width: 0;
    opacity: 0;
}

.open > .line:nth-child(3) {
    width: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: -10px;
    right: 20px;
}

.nav__list {
    background-color: #02458d;
    height: 100%;
    left: 100%;
    position: fixed;
    text-align: center;
    top: 156px;
    -webkit-transform: translate(100%);
    transform: translate(100%);
    -webkit-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
    width: 100vw;
}

.nav__list-item {
    font-size: 16px;
    line-height: 44px;
    font-weight: 700;
}

.nav__link {
    position: relative;
    padding-bottom: 2px;
}

.nav__list.show {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    left: 0;
    max-width: 100%;
    position: absolute;
    top: 167px;
    margin: 0 auto;
    padding: 0;
    -webkit-transform: translate(0);
    transform: translate(0);
}

.header__user--btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    padding: 10px 0;
}

.header__user--logo {
    margin-left: 13px;
}

.line .mobile-menu__btn {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.title {
    font-weight: 400;
    font-size: 42px;
    margin-bottom: 22px;
    margin-left: 10px;
}

.subtitle{
    font-size: var(--font-subtitle);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 22px;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 270px;
    background-image: url("../img/main-banner.jpg");
    background-size: cover;
    max-width: 100%;
    margin-bottom: 30px;
    padding: 0 20px;
    background-position: center center;
}

.banner.bigger {
    height: 350px;
}

.banner__title {
    font-size: var(--font-subtitle);
    margin-bottom: 10px;
}

.banner__text {
    font-size: var(--font-normal);
    margin-bottom: 15px;
}

.banner__btn button {
    width: 100%;
}

.banner__btn--signup {
    font-size: var(--font-normal);
    background-color: var(--orange);
    border-radius: 4px;
    padding: 15px 47px;
    margin-right: 31px;
    margin-bottom: 20px;
}

.banner__btn--signup:hover {
    opacity: .8;
    transition: opacity .5s;
}

.banner__btn--about {
    font-size: var(--font-normal);
    font-weight: bold;
    background: none;
}

.banner__btn--about:hover {
    opacity: .8;
    transition: opacity .5s;
}

.services {
    margin-bottom: 30px;
}

.services-inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services__card {
    width: 265px;
    height: 129px;
    align-items: center;
    background-color: #ffffff;
    margin: 0 10px 20px 10px;
    border-radius: 3px;
}

.services__card-text {
    padding: 23px 32px;
    color: var(--blue);
    font-size: var(--font-normal);
    line-height: normal;
}

.services__card-text:hover {
    color: #4a90e2;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.advantages {
    width: 318px;
    margin-left: 53px;
    margin-bottom: 89px;
    text-align: center;
}

.advantages__icon {

}

.advantages__text {
    font-size: var(--font-normal);
    line-height: normal;
}

.tab-wrap {
    position: relative;
    max-width: 1000px;
    margin: 50px auto;
    padding: 25px;
}
.tab {
    width: 100%;
    position: absolute;
    display: flex;
}
.tab__link {
    width: 230px;
    height: 30px;
    margin: 0 auto;
    padding: 6px 0;
    text-align: center;
    background-color: var(--tab);
    font-size: 16px;
    top: 0;
}
.tab__link:first-child {
    border-radius: 3px 0 0 3px;
}
.tab__link:last-child {
    border-radius: 0 3px 3px 0;
}

.tab__content {
    margin: 20px;
    background-color: var(--tab);
    opacity: .8;
}

.tab__content > span {

}

.rollup {

}

.rollup:after, .rollup:before {
    content: "v";
}

.map {
    position: relative;
    z-index: 1;
}

/*Services-inspection.html*/
.accordion {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

.accordion__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    transition: 0.4s;
    cursor: pointer;
    text-align: left;
    outline: none;
    color: #1b62b4;
    font-weight: 700;
}

.accordion__main p {
    color: #000000;
    font-weight: 700;
}

.accordion:hover {
    /*background-color: #ccc;*/
    transition: background-color .3s ease-in-out;
}

.arrow {
    width: 3px;
    border: solid rgba(0,0,0,.22);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px
}

.toogle {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.active > .toogle {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.accordion__main {
    overflow: hidden;
    display: none;
    padding: 15px 15px 0;
    transition: max-height 0.2s ease-out;
    color: #4a90e2;
}



/*Services.html*/

.breadcrumbs {
    display: inline-block;
    background: rgba(32,32,32,.2);
    border-radius: 3px;
    padding: 4px 9px;
    margin: 20px 0 40px 10px;
}

.breadcrumbs__item {
    display: inline-block;
    color: hsla(0, 0%, 100%, .75);
    margin-right: 6px;
}

.breadcrumbs__item:hover {
    opacity: 0.7;
    transition: opacity .3s ease-in-out;
}

.breadcrumbs__item.main {
    color: #ffffff;
}

.breadcrumbs__item.main:hover {
    color: hsla(0, 0%, 100%, .75);
    transition: color .3s ease-in-out;
}

.breadcrumbs__item--separator {
    display: inline-block;
    color: hsla(0, 0%, 100%, .75);
}

/*Tablet and mobile*/

@media(min-width: 540px) {
    .banner__btn button {
        width: auto;
    }
}

@media(min-width: 768px) {
    .nav {
        flex-direction: row;
    }

    .logo {
        font-size: var(--font-normal);
    }

    .logo__img {
        width: 403px;
    }

    .header__bottom {
        border-bottom: 1px solid #ffffff;
    }

    .nav__list {
        height: auto;
        width: auto;
        display: flex;
        justify-content: space-between;
        padding: 0;
        position: inherit;
        background: none;
        -webkit-transform: none;
    }

    .nav__link:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        content: '';
        background: var(--orange);
        height: 2px;
    }

    .nav__link:hover {
        padding-bottom: 15px;
        color: var(--orange);
        transition: color .5s;
    }

    .nav__link:hover:after {
        width: 100%;
        transition: width .5s;
    }

    .nav__list-item {
        margin-right: 20px;
        font-size: 14px;
        line-height: normal;
        font-weight: normal;
    }

    .mobile-menu {
        display: none;
    }

    .header__user--btn {
        padding: 0;
    }

    .banner {
        padding: 0 97px;
        margin: 0 10px 30px;
    }

    .banner.bigger {
        height: 500px;
    }

    .banner__title {
        font-size: var(--font-title);
    }

    .banner__btn {
        display: flex;
        flex-direction: row;
    }

    .banner__btn--signup {
        margin-bottom: 0;
    }
}

@media(min-width: 1090px) {
    .header-inner {
        flex-direction: row;
    }

    .logo {
        text-align: left;
        margin-bottom: 0;
    }

    .contact {
        display: flex;
    }
}
